NODE_NETWORK=preview
NODE_VERSION=10.1.3
NODE_HOME="/home/upstream/Cardano"
NODE_TYPE=relay
NODE_USER=upstream
NODE_BUILD=1
NODE_PORT=8000
NODE_HOSTADDR=0.0.0.0
NODE_CARDANOSCAN_API=
NODE_NAME=cardano-node
NODE_CLI_NAME=cardano-cli
NODE_REMOTE=https://github.com/IntersectMBO/cardano-node/releases/download/$NODE_VERSION
NODE_REMOTE_ARM=https://raw.githubusercontent.com/armada-alliance/cardano-node-binaries/refs/heads/main/static-binaries

NGROK_TOKEN=
NGROK_EDGE=
NGROK_SERVICE=ngrok.service

NETWORK_PATH=$NODE_HOME/cardano-node
NETWORK_DB_PATH=$NETWORK_PATH/db
NETWORK_SOCKET_PATH=$NETWORK_PATH/db/socket
NETWORK_SERVICE=$NODE_NAME.$NODE_NETWORK.service
NETWORK_ARG=
case $NODE_NETWORK in
    "mainnet") NETWORK_ARG="--mainnet";;
    "preprod") NETWORK_ARG="--testnet-magic 1";;
    "preview") NETWORK_ARG="--testnet-magic 2";;
    "sanchonet") NETWORK_ARG="--testnet-magic 4";;
esac

CONFIG_PATH=
case $NODE_TYPE in
    "relay") CONFIG_PATH=${NETWORK_PATH}/config.json;;
    "producer") CONFIG_PATH=${NETWORK_PATH}/config-bp.json;;
esac
CONFIG_REMOTE=https://book.play.dev.cardano.org/environments/$NODE_NETWORK
CONFIG_DOWNLOADS=(
    "conway-genesis.json"
    "alonzo-genesis.json"
    "shelley-genesis.json"
    "byron-genesis.json"
    "topology.json"
    "submit-api-config.json"
    "db-sync-config.json"
    "config.json"
    "config-bp.json"
)

GUILD_REMOTE=https://raw.githubusercontent.com/cardano-community/guild-operators/master/scripts/cnode-helper-scripts
GUILD_SCRIPT_DOWNLOADS=(
    "gLiveView.sh"
    "env"
)

BIN_PATH=$HOME/local/bin
PACKAGER=apt-get
SERVICE_PATH=/etc/systemd/system
GHC_VERSION=9.8.2
CABAL_VERSION=3.10.3.0
LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH"

TOPOLOGY_PATH=$NETWORK_PATH/topology.json
DELE_CERT=$NETWORK_PATH/keys/deleg.cert
DELE_VOTE_CERT=$NETWORK_PATH/keys/vote-deleg.cert
PAYMENT_ADDR=$NETWORK_PATH/keys/payment.addr
PAYMENT_KEY=$NETWORK_PATH/keys/payment.skey
PAYMENT_VKEY=$NETWORK_PATH/keys/payment.vkey
KES_KEY=$NETWORK_PATH/keys/kes.skey
KES_VKEY=$NETWORK_PATH/keys/kes.vkey
VRF_KEY=$NETWORK_PATH/keys/vrf.skey
VRF_VKEY=$NETWORK_PATH/keys/vrf.vkey
POOL_ID=$NETWORK_PATH/keys/pool.id
POOL_CERT=$NETWORK_PATH/keys/pool.cert
STAKE_ADDR=$NETWORK_PATH/keys/stake.addr
STAKE_CERT=$NETWORK_PATH/keys/stake.cert
STAKE_KEY=$NETWORK_PATH/keys/stake.skey
STAKE_VKEY=$NETWORK_PATH/keys/stake.vkey
NODE_CERT=$NETWORK_PATH/keys/node.cert
NODE_KEY=$NETWORK_PATH/keys/node.skey
NODE_VKEY=$NETWORK_PATH/keys/node.vkey
NODE_COUNTER=$NETWORK_PATH/keys/node.counter
DREP_KEY=$NETWORK_PATH/keys/drep.skey
DREP_VKEY=$NETWORK_PATH/keys/drep.vkey
DREP_CERT=$NETWORK_PATH/keys/drep.cert
DREP_ID=$NETWORK_PATH/keys/drep.id
CC_HOT_VKEY=$NETWORK_PATH/keys/cc-hot.vkey

CNNODE=$BIN_PATH/$NODE_NAME
CNCLI=$BIN_PATH/$NODE_CLI_NAME
CARDANO_NODE_SOCKET_PATH=$NETWORK_SOCKET_PATH

MITHRIL_VERSION=2450.0
MITHRIL_PATH=$NODE_HOME/cardano-mithril
MITHRIL_RELAY=
MITHRIL_PROMETHEUS=true
MITHRIL_METRICS_SERVER_IP=0.0.0.0
MITHRIL_METRICS_SERVER_PORT=9091
MITHRIL_SIGNER_NAME=mithril-signer
MITHRIL_SIGNER=$BIN_PATH/$MITHRIL_SIGNER_NAME
MITHRIL_CLIENT_NAME=mithril-client
MITHRIL_CLIENT=$BIN_PATH/$MITHRIL_CLIENT_NAME
MITHRIL_SERVICE=mithril.service
MITHRIL_AGGREGATOR_ENDPOINT=
case $NODE_NETWORK in
    "mainnet") MITHRIL_AGGREGATOR_ENDPOINT=https://aggregator.release-mainnet.api.mithril.network/aggregator;;
    "preprod") MITHRIL_AGGREGATOR_ENDPOINT=https://aggregator.release-preprod.api.mithril.network/aggregator;;
    "preview") MITHRIL_AGGREGATOR_ENDPOINT=https://aggregator.pre-release-preview.api.mithril.network/aggregator;;
esac
MITHRIL_AGGREGATOR_PARAMS=
case $NODE_NETWORK in
    "mainnet") MITHRIL_AGGREGATOR_PARAMS=$(jq -nc --arg address $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/release-mainnet/era.addr) --arg verification_key $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/release-mainnet/era.vkey) '{"address": $address, "verification_key": $verification_key}');;
    "preprod") MITHRIL_AGGREGATOR_PARAMS=$(jq -nc --arg address $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/release-preprod/era.addr) --arg verification_key $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/release-preprod/era.vkey) '{"address": $address, "verification_key": $verification_key}');;
    "preview") MITHRIL_AGGREGATOR_PARAMS=$(jq -nc --arg address $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/pre-release-preview/era.addr) --arg verification_key $(wget -q -O - https://raw.githubusercontent.com/input-output-hk/mithril/main/mithril-infra/configuration/pre-release-preview/era.vkey) '{"address": $address, "verification_key": $verification_key}');;
esac
MITHRIL_SQUID_VERSION=6.9
MITHRIL_REMOTE=https://github.com/input-output-hk/mithril/releases/download/$MITHRIL_VERSION
MITHRIL_REMOTE_ARM=https://raw.githubusercontent.com/armada-alliance/cardano-node-binaries/refs/heads/main/static-binaries

DB_SYNC=1
DB_SYNC_PATH=$NODE_HOME/cardano-db-sync
DB_SYNC_NAME=cardano-db-sync
DB_SYNC_SERVICE=$DB_SYNC_NAME.service
DB_SYNC_VERSION=13.6.0.4
DB_SYNC_REMOTE=https://github.com/IntersectMBO/cardano-db-sync/releases/download/
DB_SYNC_REMOTE_NAME=cardano-db-sync-$DB_SYNC_VERSION-linux
