COMPOSE_PROJECT_NAME=cardano
NODE_NETWORK=sanchonet
NODE_VERSION=10.4.1
NODE_HOME="/home/ubuntu/Cardano"
NODE_TYPE=relay
NODE_USER=ubuntu
NODE_BUILD=1
NODE_PORT=7777
NODE_HOSTADDR=0.0.0.0
NODE_CARDANOSCAN_API=

MITHRIL_VERSION=
MITHRIL_RELAY_HOST=
MITHRIL_RELAY_PORT=

BIN_PATH=/home/ubuntu/local/bin/$NODE_NETWORK
PACKAGER=apt-get
SERVICE_PATH=/etc/systemd/system

NGROK_TOKEN=
NGROK_REGION=
NGROK_ADDR=
NGROK_SERVICE=ngrok.$NODE_NETWORK.service

NODE_NAME=cardano-node
NODE_CLI_NAME=cardano-cli
NODE_REMOTE=https://github.com/IntersectMBO/cardano-node/releases/download/$NODE_VERSION
NODE_REMOTE_ARM=https://raw.githubusercontent.com/armada-alliance/cardano-node-binaries/refs/heads/main/static-binaries

NETWORK_PATH=$NODE_HOME/cardano-node
NETWORK_DB_PATH=$NETWORK_PATH/db
NETWORK_SOCKET_PATH=$NETWORK_PATH/db/socket
NETWORK_SERVICE=$NODE_NAME.$NODE_NETWORK.service
NETWORK_ARG=

CONFIG_PATH=
CONFIG_REMOTE=https://book.play.dev.cardano.org/environments/$NODE_NETWORK
CONFIG_DOWNLOADS=

GUILD_REMOTE=https://raw.githubusercontent.com/cardano-community/guild-operators/master/scripts/cnode-helper-scripts
GUILD_SCRIPT_DOWNLOADS=

CNNODE=$BIN_PATH/$NODE_NAME
CNCLI=$BIN_PATH/$NODE_CLI_NAME
CARDANO_NODE_SOCKET_PATH=$NETWORK_SOCKET_PATH
GHC_VERSION=9.8.2
CABAL_VERSION=3.10.3.0
LD_LIBRARY_PATH="/usr/local/lib"
PKG_CONFIG_PATH="/usr/local/lib/pkgconfig"

TOPOLOGY_PATH=$NETWORK_PATH/topology.json
DELE_CERT=$NETWORK_PATH/keys/deleg.cert
DELE_VOTE_CERT=$NETWORK_PATH/keys/vote-deleg.cert
PAYMENT_ADDR=$NETWORK_PATH/keys/payment.addr
PAYMENT_KEY=$NETWORK_PATH/keys/payment.skey
PAYMENT_VKEY=$NETWORK_PATH/keys/payment.vkey
KES_KEY=$NETWORK_PATH/keys/kes.skey
KES_VKEY=$NETWORK_PATH/keys/kes.vkey
VRF_KEY=$NETWORK_PATH/keys/vrf.skey
VRF_VKEY=$NETWORK_PATH/keys/vrf.vkey
POOL_ID=$NETWORK_PATH/keys/pool.id
POOL_CERT=$NETWORK_PATH/keys/pool.cert
POOL_DREG_CERT=$NETWORK_PATH/keys/pool.dereg
STAKE_ADDR=$NETWORK_PATH/keys/stake.addr
STAKE_CERT=$NETWORK_PATH/keys/stake.cert
STAKE_KEY=$NETWORK_PATH/keys/stake.skey
STAKE_VKEY=$NETWORK_PATH/keys/stake.vkey
NODE_CERT=$NETWORK_PATH/keys/node.cert
NODE_KEY=$NETWORK_PATH/keys/node.skey
NODE_VKEY=$NETWORK_PATH/keys/node.vkey
NODE_COUNTER=$NETWORK_PATH/keys/node.counter
DREP_KEY=$NETWORK_PATH/keys/drep.skey
DREP_VKEY=$NETWORK_PATH/keys/drep.vkey
DREP_CERT=$NETWORK_PATH/keys/drep.cert
DREP_ID=$NETWORK_PATH/keys/drep.id
CC_HOT_KEY=$NETWORK_PATH/keys/cc-hot.skey
CC_HOT_VKEY=$NETWORK_PATH/keys/cc-hot.vkey
CC_COLD_KEY=$NETWORK_PATH/keys/cc-cold.skey
CC_COLD_VKEY=$NETWORK_PATH/keys/cc-cold.vkey
CC_COLD_HASH=$NETWORK_PATH/keys/cc-key.hash
CC_CERT=$NETWORK_PATH/keys/cc.cert

MITHRIL_PATH=$NODE_HOME/cardano-mithril
MITHRIL_PROMETHEUS=true
MITHRIL_METRICS_SERVER_IP=0.0.0.0
MITHRIL_METRICS_SERVER_PORT=9091
MITHRIL_SIGNER_NAME=mithril-signer
MITHRIL_SIGNER=$BIN_PATH/$MITHRIL_SIGNER_NAME
MITHRIL_CLIENT_NAME=mithril-client
MITHRIL_CLIENT=$BIN_PATH/$MITHRIL_CLIENT_NAME
MITHRIL_SERVICE=$MITHRIL_SIGNER_NAME.$NODE_NETWORK.service
MITHRIL_AGGREGATOR_ENDPOINT=
MITHRIL_AGGREGATOR_PARAMS=

MITHRIL_SQUID_VERSION=6.9
MITHRIL_SQUID_SERVICE=squid.$NODE_NETWORK.service
MITHRIL_SQUID_REMOTE=https://www.squid-cache.org/Versions/v6/squid-$MITHRIL_SQUID_VERSION.tar.gz
MITHRIL_REMOTE=https://github.com/input-output-hk/mithril/releases/download/$MITHRIL_VERSION
MITHRIL_REMOTE_ARM=https://raw.githubusercontent.com/armada-alliance/cardano-node-binaries/refs/heads/main/static-binaries

DB_SYNC_PATH=$NODE_HOME/cardano-db-sync
DB_SYNC_NAME=cardano-db-sync
DB_SYNC=$BIN_PATH/$DB_SYNC_NAME
DB_SYNC_SERVICE=$DB_SYNC_NAME.$NODE_NETWORK.service
DB_SYNC_VERSION=13.6.0.4
DB_SYNC_REMOTE=https://github.com/IntersectMBO/cardano-db-sync/releases/download/$DB_SYNC_VERSION
DB_SYNC_REMOTE_NAME=cardano-db-sync-$DB_SYNC_VERSION-linux

POSTGRES_USER=postgres
POSTGRES_PASSWORD=v8hlDV0yMAHHlIurYupj
POSTGRES_DB=cexplorer
POSTGRES_PORT=5432
POSTGRES_SNAPSHOT=https://update-cardano-mainnet.iohk.io/cardano-db-sync/13.3/db-sync-snapshot-schema-13.3-block-10611621-x86_64.tgz

PROMETHEUS_PORT=9090
GRAFANA_PASSWORD=admin
GRAFANA_PORT=3000
