[Unit]
Description       = Ngrok Tunnel Service
Wants             = network-online.target systemd-networkd-wait-online.service
After             = network-online.target

[Service]
User              = NODE_USER
ExecStart         = /usr/local/bin/ngrok tcp --region=NGROK_REGION --remote-addr=NGROK_ADDR NODE_PORT
ExecReload        = /bin/kill -HUP $MAINPID
KillMode          = process
IgnoreSIGPIPE     = true
Restart           = always
RestartSec        = 3
Type              = simple
SyslogIdentifier  = NGROK_SERVICE

[Install]
WantedBy          = multi-user.target
